<div class="card bg-secondary text-white container">
  <h2 class="card-title">Create User</h2>
  <div class="card-body">
    <%= form_for @newUser, url: create_user_path, class: :form, method: :post do |form| %>
    <% if @newUser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newUser.errors.count, "error") %> prohibited this user from being created:</h2>
      <ul>
        <% @newUser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <% if logged_in? %>
      <div class="field">
        <%= form.label :rank, 'User Type' %>
        <% if current_user.rank == UsersHelper::PURCHASING %>
          <%= form.select :rank, ['Purchasing'] %>
        <% end %>
        <% if current_user.rank == UsersHelper::ADMIN %>
          <%= form.select :rank, ['Admin', 'Purchasing'] %>
        <% end %>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :username %>
      <%= form.text_field :username %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation%>
      <%= form.text_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= form.submit 'Create User', class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
