<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-auto">
      <%= form_tag({controller: "products", action: "brandQuery"}, method: :get, class: :form) do %>
        <%= text_field_tag :brand_query, class: "form-control" %>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
    <div class="col-sm">
      <button class="btn btn-primary"><%= link_to 'New Product', new_product_path %></button>
    </div>
  </div>
</div>
<table class="table text-white table-dark table-striped">
  <thead class="bg-dark">
    <tr>
      <th>Brand</th>
      <th>Product type</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th colspan="7">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.brand %></td>
        <td><%= product.product_type %></td>
        <td><%= product.quantity %></td>
        <td><%= product.unit_price %></td>
        <td><%= link_to 'PO', create_entry_form_path(product), class: "text-success" %></td>
        <td><%= link_to 'Add', add_quantity_form_product_path(product), class: "text-success" %></td>
        <td><%= link_to 'Release', release_product_form_path(product), class: "text-success" %></td>
        <td><%= link_to 'Backlog', backlog_form_path(product), class: "text-success" %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "text-warning"%></td>
        <td ><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
