<div class="sidenav">
  <h5>MAIN</h5>
  <%= link_to "Current Inventory", "#" %>
  <%= link_to "Purchase Orders", "#" %>
  <%= link_to "Year-End Reports", "#" %>
  <%= link_to "Backlogs", "#" %>
  <h5>PEOPLE</h5>
  <%= link_to "Users", "#" %>
  <%= link_to "View History", "#" %>
</div>
