<div class="sidenav">
  <h5>MAIN</h5>
  <%= link_to "Current Inventory", products_path %>
  <%= link_to "Purchase Orders", purchase_orders_path %>
  <%= link_to "Year-End Reports", "#" %>
  <%= link_to "Backlogs", backlogs_path %>
  <h5>PEOPLE</h5>
  <%= link_to "Users", "#" %>
  <%= link_to "View History", "#" %>
</div>
